<!-- Footer -->
<section id="footer">
    <div class="container">
        <div class="row text-center text-xs-center text-sm-left text-md-left">
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5>Quick Links</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="/"><i class="fa fa-angle-double-right"></i>Home</a></li>
                    <li><a href="/fruit"><i class="fafa-angle-double-right"></i>Fruits</a></li>
                    <li><a href="/meat"><i class="fa fa-angle-double-right"></i>Meats</a></li>
                    <li><a href="/vegetable"><i class="fa fa-angle-double-right"></i>Vegetables</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5>About</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Edited & Styled by Joseph
                        Poon</a></li>
                    <li><a href="https://www.facebook.com/mohsingram"><i class="fa fa-angle-double-right"></i>Template
                        by Mohsingram</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
                <p class="h6">Shop 4 Free is created for Application Security Project.</p>
            </div>
        </div>
    </div>
</section>
<!-- ./Footer -->